{% extends 'base.html.twig' %}

{% set action = app.current_route == 'app_tache_new' ? 'Ajout' : 'Édition' %}
{% block title %}
	{{ action }}
	tache
{% endblock %}

{% block body %}

	<header>
		<div id="current-user"></div>
		<div id="title-page">
			<div class="flex-header">
				<h1>Gestion des droits d'accès
				</h1>
			</div>
		</div>
	</header>

	<div id="content">


		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="button button-submit">Envoyer</button>
		{% if app.current_route == "app_tache_edit" %}

			<a class="delete-task" href="{{ path('app_tache_remove',{tache_id: tache_id, projet_id: projet_id}) }}">

				Supprimer la tâche</a>
		{% endif %}
		{{ form_end(form) }}


	</div>

{% endblock %}
