{% extends 'base.html.twig' %}

{% set action = app.current_route == 'app_employe_new' ? 'Ajout' : 'Édition' %}
{% block title %}
	{{ action }}
	utilisateur
{% endblock %}

{% block body %}

	<header>
		<div id="current-user"></div>
		<div id="title-page">
			<div class="flex-header">
				<h1>{{employe.nom}}
					{{employe.prenom}}</h1>
			</div>
		</div>
	</header>
	<div id="content">

		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="button button-submit">Envoyer</button>
		{{ form_end(form) }}
	</div>

{% endblock %}
